*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global Style */
.customButton{
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #2F43C0;
}
.price{
    color: #F87348;
    font-size: 30px;
    font-weight: bold;
}
.productImg{
    background-color: rgba(128, 128, 128, 0.103);
    border-radius: 15px;
}

.cartStyle{
    border-radius: 15px;
}
h3{
    font-size: 25px;
    color: #2F334D;
}
/* Header Section */
    /* Navigation bar */
nav .logo img{
    width: 300px;
}
/* Main Section */
.mainContentText h1{
    font-size: 50px;
    color: #2F334D;
}
.mainContentText .textHighlight{
    color: #F87348;
}
/* Service Section */
.serviceIcon img{
    width: 50px;
}
#service .serviceText{
    max-width: 300px;
    margin: 0 auto;
}


/* Media Query */
    /* Large Devices */
@media only screen and (min-width:992px){
    /* Service Section */
    #service .serviceItem{
        text-align: left !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}